<ion-header>
	<ion-toolbar>
		<ion-title>
			Task Calendar
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-item>
		<ion-label>Fecha de Inicio</ion-label>

		<ion-datetime
		displayFormat="YYYY-MM-DD"
		[(ngModel)]="dateStart"
		></ion-datetime>

	</ion-item>

	<ion-item>
		<ion-label position="floating">Numero de días</ion-label>
		<ion-input [(ngModel)]="days"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Codigo del país</ion-label>
		<ion-input [(ngModel)]="country"></ion-input>
	</ion-item>

	<ion-row justify-content-center>
		<ion-button color="primary" (click)="getVacations()">
			Mostrar Calendario
		</ion-button>
	</ion-row>

</ion-content>
